$color:#0dcaf0;

.card{
    max-width: 800px;
    margin: 0 auto;
    padding:10px;
    border:1px solid white;
}

li{
    list-style-type:none;
    cursor: pointer;
    margin: 10px 0;
    border: 0px solid $color;
    border-radius: 15px;
    ;
}

li .card{
    border: 1px solid $color;
    border-radius: 15px;
    padding-left: 15px;
    &:hover{
        border-left: 8px solid $color;
        border-radius: 15px;
        padding-left: 8px;
    }
}


ol{
    padding:0;
}

.badgeMedium{
    font-size: 10px;
}