@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

$c--input-color: #25282f;
$c--input-border: #CDD9ED;
$c--input-background: #fff;
$c--input-placeholder: #CBD1DC;

$c--input-border-focus: #0ea0bd;

$c--group-color: $c--input-color;
$c--group-border: $c--input-border;
$c--group-background: #EEF4FF;

$c--group-color-focus: #fff;
$c--group-border-focus: $c--input-border-focus;
$c--group-background-focus: #0ea0bd;
$dark: #555;
$color--primary: #0dcaf0;

.transition {
  transition: all .4s ease-in-out;
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: $c--input-color;
  border: 1px solid $c--input-border;
  background: $c--input-background;
  transition: border .3s ease;
  &::placeholder {
      color: $c--input-placeholder;
  }
  &:focus {
      outline: none;
      border-color: $c--input-border-focus;
  }
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
  & > span,
  .form-field {
      white-space: nowrap;
      display: block;
      &:not(:first-child):not(:last-child) {
          border-radius: 0;
      }
      &:first-child {
          border-radius: 6px 0 0 6px;
      }
      &:last-child {
          border-radius: 0 6px 6px 0;
      }
      &:not(:first-child) {
          margin-left: -1px;
      }
  }
  
  .form-field {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;
      width: 1%;
      margin-top: 0;
      margin-bottom: 0;
  }
  & > span {
      text-align: center;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 25px;
      color: $c--group-color;
      background: $c--group-background;
      border: 1px solid $c--group-border;
      transition: background .3s ease, border .3s ease, color .3s ease;
  }
  &:focus-within {
      & > span {
          color: $c--group-color-focus;
          background: $c--group-background-focus;
          border-color: $c--group-border-focus;
      }
  }
}

select {
    display: inline;  
    border: 0;
    width: auto;
    padding: 0px 10px;
    outline: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid $dark;
    color: $color--primary;
    background-color: white;
    transition: all .4s ease-in-out;
    
    &:hover {
      cursor: pointer;    
    }
    
    option {
      border: 0;
      background-color: white;
      border-bottom: 0px solid $dark;
      margin: 5px;
      font-size: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .mr-top{
    margin-top: 1.5rem;
  }