<div class="container py-5">
      
    <form [formGroup]="form" (ngSubmit)="submit()">
        <span class="col-md-8 fs-4">The Quiz on
            <!-- class="form-control" -->
        <select formControlName="website"  >
            <option *ngFor="let category of categories" >{{category}}</option>
        </select>
         contains 10 questions.</span>

        <h4 class="fw-bold mr-top">Rules:</h4>
        <ol>
            <li>Correct question gives you <span class="badge bg-secondary">+10</span> points.</li>
            <li>InCorrect question gives you <span class="badge bg-secondary">0</span> points.</li>
            <li>You will have <span class="badge bg-secondary">60</span> seconds to answer the each question.</li>
            <li>Refreshing the page will <u>restart</u> the quiz.</li>
            <li>Enter your <u>name</u> and click on 'Start the quiz'</li>
        </ol>
        <!-- [disabled]="!form.valid -->
        <div class="form-group col-md-8">
            <span>Name:</span>
            <input class="form-field" formControlName="username" type="text" placeholder="Your name" maxlength="25">
        </div>
        <!-- '(click)="StartQuiz()' -->
        <button type="submit" class="btn btn-primary mr-top">Start the quiz</button>
        <h4 class="text-center"> All the best!!!</h4>
    </form>

</div>
